<center><b>Mocca - I Remember</b></center>

<p></p>
<center>
<br>I remember... The way you glanced at me, yes I remember
<br>I remember... When we caught a shooting star, yes I remember
<br>I remember... All the things that we shared, and the promise we made, just you and I
<br>I remember... All the laughter we shared, all the wishes we made, upon the roof at dawn

<p></p>
Do you remember?
<br>When we were dancing in the rain in that December
<br>And I remember... When my father thought you were a burglar
<br>I remember... All the things that we shared, and the promise we made, just you and I
<br>I remember... All the laughter we shared, all the wishes we made, upon the roof at dawn

<p></p>
I remember... The way you read your books,
<br>yes I remember
<br>The way you tied your shoes,
<br>yes I remember
<br>The cake you loved the most,
<br>yes I remember
<br>The way you drank you coffee,
<br>I remember
<br>The way you glanced at me, yes I remember
<br>When we caught a shooting star,
<br>yes I remember
<br>When we were dancing in the rain in that December
<br>And the way you smile at me,
<br>yes I remember
</center>
