<center><b>Noah - Andaikan Kau Datang</b></center>

<p></p>
<center><br>Hm...hm...hm...
<br>Terlalu indah dilupakan
<br>Terlalu sedih dikenangkan
<br>Setelah aku jauh berjalan
<br>Dan kau ku tinggalkan
<p></p>

Betapa hatiku bersedih
<br>Mengenang kasih dan sayangmu
<br>Setulus pesanmu kepadaku
<br>Engkau kan menunggu
<p></p>

Andaikan kau datang kembali
<br>Jawaban apa yang kan ku beri
<br>Adakah cara yang kau temui
<br>Untuk kita kembali lagi
<p></p>

Bersinarlah bulan purnama
<br>Seindah serta tulus cintanya
<br>Bersinarlah terus sampai nanti
<br>Lagu ini...ku...akhiri
<br>Na...na...na...
Na...na...na...</center>
