<center><b>Sheila On 7 - Sahabat Sejati</b></center>

<p></p>
<center><br>Sahabat sejatiku, hilangkah dari ingatanmu
<br>Di hari kita saling berbagi
<br>Dengan kotak sejuta mimpi, aku datang menghampirimu
<br>Kuperlihatkan semua hartaku</center>
<p></p>

<center><br>Kita s'lalu berpendapat, kita ini yang terhebat
<br>Kesombongan di masa muda yang indah
<br>Aku raja kaupun raja
<br>Aku hitam kaupun hitam
<br>Arti teman lebih dari sekedar materi</center>
<p></p>

<center><br>Pegang pundakku, jangan pernah lepaskan
<br>Bila ku mulai lelah' lelah dan tak bersinar
<br>Remas sayapku, jangan pernah lepaskan
<br>Bila ku ingin terbang' terbang meninggalkanmu</center>
<p></p>

<center><br>Ku s'lalu membanggakanmu, kaupun s'lalu menyanjungku
<br>Aku dan kamu darah abadi
<br>Demi bermain bersama, kita duakan segalanya
<br>Merdeka kita, kita merdeka</center>
<p></p>

<center><br>Tak pernah kita pikirkan
<br>Ujung perjalanan ini
<br>Tak usah kita pikirkan
<br>ujung perjalanan ini</center>