<center><b>Stinky - Mungkinkah</b></center>

<p></p>
<center>
<br>Tetes air mata basahi pipiku
<br>Di saat kita kan berpisah
<br>Terucapkan janji padamu kasihku
<br>Takkan kulupakan dirimu
<br>Begitu beratnya kau lepas diriku
<br>Sebut namaku jika kau rindukan aku
<br>Aku akan datang

<p></p>
Mungkinkan kita kan slalu bersama
<br>Walau terbentang jarak antara kita
<br>Biarkan kupeluk erat bayangmu
<br>Tuk melepaskan semua kerinduanku

<p></p>
Lambaian tanganmu iringi langkahku
<br>Terbersit tanya di hatiku
<br>Akankah dirimu kan tetap milikku
<br>Saat kembali di pelukanku

<p></p>
Begitu beratnya kau lepas diriku
<br>Sebut namaku jika kau rindukan aku
<br>Aku akan datang

<p></p>
Mungkinkan kita kan slalu bersama
<br>Walau terbentang jarak antara kita
<br>Biarkan kupeluk erat bayangmu
<br>Tuk melepaskan semua kerinduanku

<p></p>
Kau kusayang
<br>Slalu kujaga
<br>Takkan kulepas selamanya
<br>Hilangkanlah
<br>Keraguanmu pada diriku
<br>Di saat kujauh darimu

</center>