<center><b>Virzha - Kita Yang Beda</b></center>

<p></p>
<center><br>tak pernah ku bayangkan secepat ini
<br>aku takutkan benar terjadi adanya
<br>perbedaan mengalahkan rasa
<br>dan kita menyerah kalah pada keadaan
<p></p>

kau putuskan pergi, melepaskan kita

<br>tuhan kita c-ma satu, kita yang berbeda
<br>hingga tak mungkin menyatu cinta yang terluka
<br>ku terima semua ini sebagai rahasia
<br>biar ku simpan selamanya kau di hatiku
<p></p>

pekat malam jangan membuat resah
<br>hadapilah ini sebagai pelajaran hidup
<br>kau putuskan pergi, melepaskan kita
<p></p>

tuhan kita cuma satu, kita yang berbeda
<br>hingga tak mungkin menyatu cinta yang terluka
<br>ku terima semua ini sebagai rahasia
<br>biar ku simpan selamanya kau di hatiku
<p></p>

tuhan kita cuma satu, kita yang berbeda
<br>hingga tak mungkin menyatu cinta yang terluka
<br>ku terima semua ini sebagai rahasia
<br>biar ku simpan selamanya kau di hatiku, kau di hatiku</center>